* {
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}
.btn{
    padding: 0.85em 2em;
    border-radius: 5px;
    border:none;
    font-family: 'Raleway',
    sans-serif;
    font-size: 0.95rem;

}

a{
    color: black;
}
.row {
    display: flex;


}
.lightblack{
    color: #707070;
}

.blackish {
    color: rgb(255, 255, 255);
}

.column {
    display: block;
    flex-direction: column;
}

.redish {
    color: #F85A40;
}

.white {
    color: white;
}
.first-background {
    background-image: url("Dog1.jpg");
    position: sticky;
    height:auto;
    overflow: hidden;

    background-size: cover;
}
  
.nav-bar {
    align-items: left;

    justify-content: space-between;
    display: flex;

}

.nav-bar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 25px;
}

.nav-bar ul {
    display: inline-block;
}

.nav-bar h1 {
    color: white;
    text-decoration: none;

    margin-top: 13px;
    padding-right: 300px;


}

.nav-bar a {
    text-decoration: none;
    color: white;

}

.nav-bar a:hover {
    color: #a3c962;
}

.content{
    padding-left:5%;
}

.text-content{

 
  
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  
    padding: 11rem 0;
    
}
.text-content>h1{
    width: 440px;
    font-size: 38px;
    font-weight: 300;
    font-family: 'Raleway',
    sans-serif;
    margin-bottom: 20px;
    line-height: 55px;
    
}

.text-content>h4{
    font-size: 1.15rem;
    letter-spacing: 0.35px;
    font-weight: lighter;
    font-family: 'Raleway',
    sans-serif;
    margin-bottom: 55px;
}
.two-button{
    display: flex;
    gap:10px;
    margin-bottom: 20px;
}

.w-btn{
    color: #1A2C79;
}
.w-btn:hover{
    background: transparent;
    color: white;
    border:0.55px solid white;
    transition: 0.55s;
}
.t-btn{
    background: transparent;
    border: 0.55px solid white;
    color: white;
}
.t-btn:hover{
    color: black;
    background: white;
    border: none;
    transition: 0.55s;
}

/* Second *\


/*Third */
.review {
    padding:30px 0;
    margin:0 auto;
}


.review-content {
    display:flex;
 
}

.review-title {
    display: center;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-bottom:20px;
    margin-left:150px;
}