* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Raleway',
    sans-serif;
}


a{
    color: black;
}
.row {
    display: flex;


}
.lightblack{
    color: #707070;
}

.highlight {
    color: rgb(255, 255, 255);
}

.column {
    display: block;
    flex-direction: column;
}

.redish {
    color: #F85A40;
}

.white {
    color: white;
}
.container_background{
    background: #fafafa;
}
.heading:hover{
    color: #F85A40;

}


.title-logo {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.heading > i {
    color:#F85A40;
}
.btn {
    padding: 0.85em 2em;
    border-radius: 5px;
    border:none;
    font-family: 'Raleway',
    sans-serif;
    font-size: 0.95rem;

}

.first-background {
    background-image: linear-gradient(75deg, rgb(6 6 6 / 64%) 8%, transparent),
    url("Dog1.jpg");
   background-position: center;
background-size: cover;


}

.contents  {
    padding-left:10%;
}
#title {
    display: flex;
    flex-direction: column;
    position:fixed;
    width:100%;

}

#title ul {
    text-align: center;
    margin: 0px 15px;
    display: none;

}

#title ul li {
    background: white;
    padding: 15px;
}

#title ul li:nth-of-type(4)::after{
    content: "\2228";
    color: #fff;
    font-size: 10px;
    vertical-align:top;
}

#title ul  li a{
    color: black;
    padding: 11em 0em;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor: pointer;

  




  

}
.heading > span {
    font-size:30px;
    font-weight:600;
    color:white;
}


.nav-heading{
    font-size: 30px;
    font-family: 'Raleway',
    sans-serif;
    font-weight:bolder;
    align-items: center;
    display: flex;
    gap: 7px;
    margin-left: 15px;

}


.heading > i :hover{
    color: #F85A40;
}


.title-links .search{
    background: white;
    border-radius: 15px;
    padding: .5em;
    border:  0.6px solid rgb(171, 162, 162);
    
}
.search-btn{
    border: none;
    background: white;
    margin: 20px 0;
  
}

.title-links input{
    border: none;
    outline: none;
}
.search-area{
    background: none;
    margin-top: 20px;
    padding: 10px;
}

.small-window{
    display: flex;
    color: white;
    gap: 20px;
    align-items: center;
    margin-right: 10px;
    
}
.small-window .fa-bars{
    padding: .5em;
    background: #F85A40;
    color: #fff;
    border-radius: 3px;
}
.content{
    padding-left:5%;
}

.text-area{
  
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  
    padding: 11rem 0;
    
}
.text-area>h1{
    width: 440px;
    font-size: 38px;
    font-weight: 300;
    font-family: 'Raleway',
    sans-serif;
    margin-bottom: 20px;
    line-height: 55px;
    
}

.text-area>h4{
    font-size: 1.15rem;
    letter-spacing: 0.35px;
    font-weight: lighter;
    font-family: 'Raleway',
    sans-serif;
    margin-bottom: 55px;
}
.two-button{
    display: flex;
    gap:10px;
    margin-bottom: 20px;
}

.first-btn{
    color: #1A2C79;
}
.first-btn:hover{
    background: transparent;
    color: white;
    border:0.55px solid white;
    transition: 0.55s;
}
.second-btn{
    background: transparent;
    border: 0.55px solid white;
    color: white;
}
.second-btn:hover{
    color: black;
    background: white;
    border: none;
    transition: 0.55s;
}



.title-link .fa-moon{
    display: none;
    cursor: pointer;
}

@media screen and (min-width:995px) {
    #title{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
    }
    #title  ul{
         display: flex!important;
         list-style-type:none;
 
 
         
         
     }
     #title ul li{
         background: none;
     }
     .search-section{
         background: none;
     }
     #title ul li a{
         padding: 0px 10px;
         color: #fff;
         font-size:medium;
         font-weight: bold;
         font-family: 'Roboto',
         sans-serif;
         ;
     }
 
     #title ul li:first-child a {
         color: #fff;
 
 
     }
 
 
    .small-window{
        display: none;
     
    }
    .title-links{
        align-items: center;
    }
    .title-links .fa-moon {
        display:inherit;
        color: #fff;
        margin-left: 20px;
        font-size: 1.55rem;
        
    }
    .search-area {
       margin-top:0;
    }
    .content{
        padding-left:10% ;
    }
 
 .text-content>h1 {
     width: 540px;
     font-size: 50px;
     font-weight: 300;
     font-family: 'Raleway',
         sans-serif;
     margin-bottom: 20px;
     line-height: 55px;
 
 }
 .black {
     color: black;
 }
 
 .black2{
     color: black;
    }

    .media-links {
        flex-direction: column;
    }
}



/** Second **/
.banner {
    padding:7% 3% 7% 3% ;
    font-family: 'Raleway',
    sans-serif;
    display: block;
}
.banner span>img {
    width: 100%;
}
.content_text>h1 {
    padding: 20px 0px;
    font-size: 30px;
    font-weight: 600;
}


.content_text p {
    line-height: 25px;
    font-size: 14px;
    color: #707070;
}

.box-text {
    display: flex;
    gap: 40px;
}

.boxes >h2 {
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    padding: 0px  0px 15px 0px;
}
.boxes > p {
    font-size: 16px;
    letter-spacing: 1px;
    color: #707070;
}
.boxes span > i {
    color: #F85A40;
    font-size: 35px;
    padding: 25px 0px 10px 0px ;
}


.content {
    width: 100%;
}
.banner span>img {
    width:100%;
    margin-left:auto;
}
.box-text>h1 {
    font-size: 37px;
    font-weight: 600;
}


/** THIRD **/

.user span > img {
    width: 100%;
}

.areas {
    padding:10%;
}

.user {
    text-align: start;
    line-height: 30px;
    letter-spacing: 1px;

   
    box-shadow: 0 1px 1px 0 rgb(10 16 34 / 20%);
    


    font-family: 'Raleway',
        sans-serif;

    border: .25px solid #fff;
}

.user-info h1 {
    font-weight: 600;
    font-size: 20px;
    padding: 10px;


}


.user-info p {
    padding: 10px;
    color: #707070;




}

.user-info h5 {
    color: #F85A40;
    padding: 10px;

}

.user span > img {
    width: 100%;
}

.user_info {
    padding:10px;
}
.user_info > p{
    line-height: 20px;
}




.user_info{
    margin-bottom: 30px;
}


.headers {
    width: 50%;
    margin: 0 auto;
    font-size: 20px;


}
.headers > h1 {
    line-height: 45px;
}
.headers>p {
    line-height: 32px;
}

.areas {
    flex-wrap: wrap;
    display: flex;

    justify-content: space-evenly;
    
    padding: 5%;
}

.user {
    text-align: start;
    line-height: 30px;
    letter-spacing: 1px;
  
    
    box-shadow: 0 1px 1px 0 rgb(10 16 34 / 20%);
    
    
    
    font-family: 'Raleway',
    sans-serif;
}
.areas {
    display:block;
    width:100%;
}

/** Four **/
.fourth {
    padding:15px;
}
.fourth article h1 {
    font-size: 30px;
    font-family: 'Raleway',
    sans-serif;
    font-weight: 600;
}
.fourth article p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .4px;
    color: #707070;
    font-family: 'Raleway',
    sans-serif;
    text-align: justify;
}

.user_icons {
    display: flex;
    gap: 70px;
    margin: 40px 0px;

}
.info_icons  span>i{
    color: #1A2C79;

    font-size: 25px;
}

.info_icons span {
    font-weight: bold;
    font-size: 25px;
}
.user_image {
    display: flex;
    gap: 30px;
}
.user_image img {
    border-radius:50px;
}
.user_image p {
    color: #707070;
    font-size: 17px;
    letter-spacing: .4px;
    line-height: 24px;
}

.user_feedback > h1 {
    font-size: 70px;
    font-weight: 300;
    color: #1A2C79;
    height: 30px;
}

.user_feedback > p {
    font-size: 15.55px;
}

.user_feedback > h4 {
    margin: 20px 0px;
    color: #1A2C79;
}

.fourth {
    display: flex;
    gap: 90px;
    padding: 10%;
}

/** Fifth background **/

.fifth-background {
    padding: 0px 20px 0px 20px;
}

.details {
    display: flex;
    justify-content: center;
}

.main-details {
    padding: 20px 0px;
}

.main-details span>i {
    font-size: 22px;
    padding: 10px 0px;
    color: #F85A40;
}

.main-details >h4 {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0px;
}
.main-details > p {
    color: #707070;
}

.fifth-background {
    display: flex;
    padding: 10%;
    align-items: center;
}

.details {
    min-width: 200px;
       height: 400px;
}

@media screen and ( min-width: 575px) {
    .areas {
        display:flex;
    }
    .user {
        width:28%;
    }
    .banner {
        display:flex;
    }

    .details2{
        display: flex;
        padding: 0 10% 0 10%;
    
    }
    .media > p{
        margin-top: 20px;
        text-align: start;
       
    }
   
}
/** sticky banner **/

.six-background {
    background: url("Dog9.jpg");
    background-position: top;
    background-attachment: fixed;
    color: white;
    padding: 80px 3%;
}


.six-background h1{
    font-size: 33px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 1px;
    margin: 20px 0 20px 0;
}



/** News Banner and blogs **/
.news .user h5 {
    color: #1A2C79;
}
.news  pre {
    color: #1A2C79;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
}


.news {
    padding-top: 50px;
}

.highlight-txt {
    color:black;
}

/** footer part **/

#bar-id {
    background: #060606;
    color: #fff;
    padding: 90px 3%;
}

.footer-part span {
    font-size: 27px;
    font-family: 'Raleway',
    sans-serif;
    font-weight: 600;
}

.footer-part span > i{
    color: #F85A40;
    margin-right: 7px;
    font-size: 30px;
}

.footer-part p{
    width: 90%;
    color: #f4f4f4ce;
    line-height: 29px;
    margin: 20px 0px;
}

.dogcare-categories {
    display: flex;
    gap:90px;
}


.dogcare {
    margin-bottom: 20px;
}
.dogcare >h3 {
    margin: 0px 0px 30px 0px;
}
.dogcare-categories ul li {
    line-height: 30px;
    font-size:1rem ;
    color: #f4f4f4ce;
}


.suscriber > h3 + h3 {
    margin: 20px 0px;
}

.suscriber span {
    display: flex;
    padding-bottom: 20px;
}

.suscriber span>input{
    padding: 15px 180px 15px 0px;
}

.suscriber span > button {
    padding: 15px 50px;
    background: #F85A40;
    color: #fff;
    font-size: 20px;
}

.suscriber {
    margin-bottom: 55px;
}

.last {
    border-bottom:0.15px solid #707070 ;
}

.media > p {
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
}

.media p > strong {
    color: #F85A40;
}

.media p>strong:hover {
    color: #fff;
    border-bottom: .25px solid #fff;
    transition: 1.75s;
}

#bar-id {
    padding: 90px 10%;
}

.last{
    display: flex;
}

.footer-part {
    width: 30%;
}

.suscriber,.dogcare {
    width: 30%;
}

.suscriber span>button {
    padding: 10px 30px;
}
.media {
    display:flex;
    justify-content: space-around;
}
.para {
    margin-top: 35px;
}
.media-links i{
    background:black;
    border-radius:50%;
    color:white;
    font-size:15px;
    padding:0.74em;
    text-align:center;
   
    
    margin:25px 0;
}

.media-links {
    margin:0 auto;
}
.media-links {
    display:inline-block;
    
    background-size:cover;
    
}

.user:hover {
    box-shadow: 0 30px 30px rgba(0, 0, 0, .5);
}
